.close {
	color: #fff;
}

#euvi-banner .container {
    position: relative; }
  #euvi-banner .header {
    color: #FFF; }
  #euvi-banner h4 {
    margin-bottom: 40px; }
  #euvi-banner h1 {
    margin-top: 16px; }

@media only screen and (max-width : 992px) {
  #euvi-banner h1 {
    margin-top: 60px; }
  #euvi-banner h4 {
    margin-bottom: 15px; } }

@media only screen and (max-width : 600px) {
  #euvi-banner h4 {
    margin-bottom: 0; } }


#euvi-banner {
    background-image: url(../images/euvi.jpg);
    background-position: center;
}